:root{
    --index:calc(1vw + 1vh);
}
.main {
    position: relative;
}
#container1, #container2, #container3, #container4 {
    position: relative;
    width: calc(var(--index)*65);
    height: calc(var(--index)*30);
    color:white;
}
canvas {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%
}
body{
    background: hsl(210, 10%, 11%);
}
.main-page{
    position: relative;
}
.main-text{
    position: absolute;
    right: 50%;
    left: 15%;
}
#main-container{
    position: relative;
    left:55%;
    width: 35%;
    height: calc(var(--index)*25);
    color:white;
}
#follow-div{
    display: none;
    border: 2px solid red;
    color:white;
    transform: translateY(-50%) translateX(25%);
    position: absolute;
    z-index: 999;
    pointer-events: none;
}
#main-exursion-container{
    position: absolute;
    width: 100%;
    height: calc(var(--index)*30);
    background-color: hsl(208, 18%, 39%);
}

.btn-panel{
    list-style-type: none;
    position: absolute;
    height: auto;
    width: auto;
    background-color: aqua;
    padding: 0%;
}
.btn-panel-item{
    margin-left: 0;
    padding-left: 0;
    text-align: center;
}

#info-div{
    position: absolute;
    width: calc(var(--index) * 17);
    transform: translate(calc(var(--index)*78.498));
    border: solid 2px white;
    background-color: rgb(56, 70, 65);
    border-radius: calc(var(--index) * 0.5);
    color:aliceblue
}
#title{
    text-align: center;
}
#info-text{
    text-align: center;
}
